@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&family=PT+Serif:wght@700&display=swap");

:root {
  --font-primary: "Manrope", sans-serif;
  --font-secondary: "PT Serif", serif;
  --color-primary: #bf3939;
  --color-secondary: #ffffff;
  --color-black: #000000;
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f6fafb;
  --color-text-primary: #333333;
  --color-text-secondary: #696969;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var();
}

body {
  font-family: var(--font-primary);
}

main {
  width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: var(--font-secondary);
}

/* BUTTONS */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  font-size: 16px;
  width: 220px;
  background-color: var(--color-bg-primary);
  color: var(--color-primary);
  border-radius: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.button:hover {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 3px 3px #333333);
}

.button_nav {
  width: 150px;
}

.button_nav:hover {
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0 3px 3px #000000);
}

.button_secondary {
  background: var(--color-primary);
  color: var(--color-bg-primary);
}

/* HEADER */

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  padding: 32px 0;
}

.header.header_secondary {
  background-color: var(--color-text-primary);
  position: initial;
}

.header__inner {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 140px;
}

.header__nav-link {
  color: var(--color-secondary);
  letter-spacing: 1px;
  margin-right: 48px;
}

.header__nav-button {
  margin-right: 24px;
}

.header__nav-button:last-child {
  margin-right: 0px;
}

/* LANDING SECTION */

.landing {
  height: 100vh;
  position: relative;
}

.landing__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.landing__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.landing__overlay-red {
  height: 100%;
  width: 27%;
  left: 0;
  position: absolute;
  background-color: var(--color-primary);
}
.landing_overlay-dark {
  height: 100%;
  width: 73%;
  right: 0;
  position: absolute;
  background-color: #000000ad;
}
.landing__content {
  position: absolute;
  top: 0;
  left: calc((100% - 1300px) / 2);
  width: 1300px;
  display: flex;
  height: 100%;
  align-items: center;
}

.landing__content-inner {
}

.landing__title {
  color: var(--color-bg-primary);
  font-size: 56px;
  width: 550px;
  margin-bottom: 24px;
}
.landing__subtitle {
  color: var(--color-bg-primary);
  font-size: 16px;
  width: 440px;
  margin-bottom: 48px;
}

/* COURSES */

.courses {
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

.courses__inner {
  width: 1300px;
  margin: auto;
}

.courses__inner-text-red {
  font-weight: 500;
  color: var(--color-primary);
  margin-bottom: 24px;
}

.courses__inner-header {
  display: flex;
  justify-content: space-between;
}

.courses__inner-header-heading {
  font-size: 36px;
  font-weight: 500;
  color: var(--color-text-primary);
}

.courses__inner-header-link {
  width: 200px;
  border: 1px solid var(--color-primary);
  border-radius: 30px;
  text-transform: uppercase;
}

/* CARDS */

.courses__inner-cards {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 48px;
  justify-content: space-between;
}

.courses__inner-cards-card {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  height: 275px;
}

.courses__inner-cards-card:hover img {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.courses__inner-cards-card:hover h3 {
  color: var(--color-primary);
}

.card__image {
  overflow: hidden;
  border-radius: 16px;
  object-fit: contain;
}

.card__image img {
  max-width: 100%;
  transition: all 0.3s;
}

.card_title {
  margin-top: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-text-primary);
  margin-bottom: 8px;
}

.card_subtitle {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  color: var(--color-text-secondary);
}

/* TESTIMONIALS */

.testimonials {
  background-color: var(--color-bg-secondary);
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
}

.testimonials__inner {
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: auto;
}

.testimonials__inner-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials__inner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 180%;
  color: var(--color-text-secondary);
}

.quotes {
  font-size: 48px;
}
